:root{
  --kursiv-text: 'Kunstler Script';
  --main-font: 'Montserrat';
  --background-color:  #E6DFD9;
  --kursiv-color: #7C1111;
  --button-color: #B4B4B4;
  --bg-color: #FCFCFC;
  --color-text: #000;
  --timer-font: 'GentiumPlus';
}